.page {
  --background: #fafafa;
  --foreground: #fff;

  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--foreground);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #fff;
    --foreground: #fff;
  }
}
